/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisuall__category {
    padding: 4px 0;
    background-color: #ffdfdf;
    font-size: 1.6rem;
    font-weight: 700;
    width: 130px;
    text-align: center;
    position: relative;
}

.c-newsbtn {
    background-color: #ffd800;
}

.c-featurebtn {
    background-color: #f68e56;
}

.c-blogbtn {
    background-color: #6dcff6;
}
