/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-title1 {
	
}

.c-category1 {
    background-color: #fff799;
}

.c-category2 {
    background-color: #a3d39c;
}

.c-category3 {
    background-color: #ffdfdf;
}
.c-category4{}
