/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text {
    margin-top: 14px;
    color: #222;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 410px;
    line-height: 1.5;
    font-weight: 500;
}

/*
------------------------------------------------------------*/
