/* Header
------------------------------------------------------------*/
.c-header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 6px;
    align-items: center;
    border-bottom: 1px solid;
    -webkit-box-align: center;
    padding-bottom: 18px;
    margin-top: 20px;
}

.is-active {
    font-weight: 900;
}
/* Main menu
------------------------------------------------------------*/
.c-gnav {   
    padding-left: 4px;

    ul {
        display: flex;
        gap: 32px;
    }
    
    a {
        font-size: 1.4rem;
        text-transform: capitalize;
    }
}
