/* layout
------------------------------------------------------------*/
body {
    justify-content: center;
    align-items: center;
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0 0 100px;
}

section {
    // padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
    margin-top: 22px;
}


//-----------------MainVisual Section--------------------------------------
.c-mainvisual {
    background-image: url("../../_public/assets/img/home_img.png");
    -webkit-box-align: center;
    margin-top: 34px;
    color: #000;
    position: relative;
    height: 360px;
    padding: 50px 0 90px;
    margin-bottom: 44px;

    &__category {
        background-color: #ffdfdf;
        padding: 5px 1px 5px 0;
        font-size: 1.6rem;
        font-weight: 700;
        width: 128px;
        height: 35px;
        margin-top: 2px;
        text-align: center;
        position: relative;
        margin-bottom: -1px;
    }

    &__text {
        color: #222;
        font-size: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 415px;
        line-height: 1.5;
        font-weight: 500;
        position: absolute;
        bottom: 32px;
        left: 40px;
    }
}

.c-tag {
    &__green {
        background-color: #a3d39c;
    }

    &__pink {
        background-color: #ffdfdf;
    }

    &__yellow {
        background-color: #fff799;
    }
} 
// ---------NEWS SECTION-------->
.c-news {

    max-width: $base-width;
    margin: 0 auto;
    align-items: center;
    -webkit-box-align: center;
    margin-top: -1px;
    margin-bottom: 1px;

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        height: 50px;
        padding: 1px 0 0 20px;
        border: 1px solid #ffd800;
        background-color: #fff9da;
        border-left-width: 7px;

    }
    
    &__items {
        display: flex;
        position: relative;
        margin-top: 30px;
    }

    &__img {
        position: relative;
        width: 350px;
        height: 190px;
        margin-top: -1px;
        margin-bottom: 1px;

        img {
            margin-top: 1px;
            max-width: none;
        }
    }

    &__tag {
        position: absolute;
        width: 112px;
        text-align: center;
        font-size: 1.4rem;
        left: 0;
        top: 1px;
        height: 30px;
    }

    &__viewmore {
        margin-top: 61px;
        margin-left: -3px;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__viewmorebtn {
        width: 300px;
        height: 65px;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #000;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        padding: 10px 9px 8px 10px;
    }

    &__content {
        margin-left: 40px;
        margin-top: 1px;

    }

    .c-content {
        &__title {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.4;
            margin-top: -4px;
            margin-bottom: 10px;
        }

        &__description {
            font-weight: 500;
            font-size: 1.4rem;

            line-height: 1.4;
        }

        &__btn {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 152px;
            height: 52px;
            border: 1px solid #fff;
            border-radius: 6px;
            color: #fff;
            background-color: #afafaf;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 12px 17px 12px 16px;
        }
        
    }
}
// ---------END NEWS SECTION-------->
// ---------FEATURE SECTION-------->
.c-feature {
    max-width: 100%;
    align-items: center;
    -webkit-box-align: center;
    color: #000;
    padding: 50px 0 90px;
    margin-top: 60px;
    background-color: #fafafa;

    &__content {
        position: relative;
        max-width: $base-width;
        margin: 0 auto;
        margin-top: 10px;
    }

    &__title {
        height: 50px;
        padding-left: 20px;
        padding-top: 1px;
        border: 1px solid #f68e56;
        background-color: #fff2f2;
        border-left-width: 7px;
        font-size: 2.4rem;
    }

    &__list {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        row-gap: 45px;
    }

    &__item {
        width: 300px;

        img {
            height: 185px;
        }
    }

    &__tag {
        margin-top: 14px;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        padding: 2px 22px;
    }

    &__description {
        font-weight: 500;
        font-size: 1.4rem;
        margin-top: 16px;
        line-height: 1.4;
        color: #222;
    }

    &__viewmore {
        margin-top: 55px;
    }

    &__viewmorebtn {
        padding: 21px 95px 19px 96px;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #000;
        border-radius: 5px;
        color: #fff;
        position: absolute;
        right: 0;
        bottom: -119px;
        cursor: pointer;
    }
}

// ---------END FEATURE SECTION-------->
// ---------BLOG SECTION-------->
.c-blog {
    max-width: $base-width;
    margin: 0 auto;
    align-items: center;
    -webkit-box-align: center;
    color: #000;
    position: relative;
    padding: 50px 0 90px;
    margin-top: 44px;

    &__title {
        height: 50px;
        padding-left: 20px;
        padding-top: 1px;
        border: 1px solid #6dcff6;
        background-color: #ebebeb;
        border-left-width: 7px;
        font-size: 2.4rem;
        margin-bottom: 30px;
    }

    &__list {
        margin-top: 29px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        row-gap: 45px;
    }

    &__item {
        position: relative;
        width: calc((100% - 50px)/2);

        img {
            height: 185px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 1.4rem;
        margin-top: 16px;
        line-height: 1.4;
        color: #222;
    }

    &__tag {
        margin-top: 15px;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        padding: 1px 21px;
        margin-bottom: 17px;
    }

    &__viewmore {
        margin-top: 44px;
    }

    &__viewmorebtn {
        padding: 20px 102px 20px 96px;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #000;
        border-radius: 5px;
        color: #fff;
        position: absolute;
        right: -1px;
        left: 0;
        margin: 1px 0 0 1px;
        cursor: pointer;
    }
}
// ---------END BLOG SECTION-------->

