<footer class="c-footer">

  <div class="c-menulink">
    <div class="c-menulink__list">
      <!-- menu 1-->
      <div class="c-menulink__item">
        <div class="c-menulink__title">Box link 1</div>
        <ul class="c-menulink__link c-link">
            <li class="c-link__item u-dot"><a href="#">Link link</a></li>
            <li class="c-link__item u-dot"><a href="#">Link &nbsp;link link</a></li>
            <li class="c-link__item u-dot"><a href="#">Link &nbsp;link link link link</a></li>
            <li class="c-link__item u-dot"><a href="#">Link link link</a></li>
            <li class="c-link__item u-dot"><a href="#">Link link link link</a></li>
        </ul>
      </div>
      <!-- menu 2-->
      <div class="c-menulink__item">
        <div class="c-menulink__title">Box link 1</div>
        <ul class="c-menulink__link c-link">
            <li class="c-link__item u-rightangle"><a href="#">Link link link link link link</a></li>
            <li class="c-link__item u-rightangle"><a href="#">Link &nbsp;link link link link link link link</a></li>
            <li class="c-link__item u-rightangle"><a href="#">Link &nbsp;link link link link</a></li>
            <li class="c-link__item u-rightangle"><a href="#">Link link link link link link link</a></li>
            <li class="c-link__item u-rightangle"><a href="#">Link link link link link link link link link</a></li>
        </ul>
      </div>
      <!-- menu 3-->
      <div class="c-menulink__item">
        <div class="c-menulink__title">Box link 1</div>
        <ul class="c-menulink__link c-link">
            <li class="c-link__item u-link"><a href="#">Link link link link link link link link </a></li>
            <li class="c-link__item u-link"><a href="#">Link &nbsp;link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link &nbsp;link link link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link link link link link link link link link link </a></li>
            <li class="c-link__item u-link"><a href="#">Link link link link </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c-copyright">© Copyright Allgrow Labo 2018</div>
</footer>